.input-box{
    width: 100%;
    height: 40px;
    background-color: var(--Light-cyan-2);
    padding: 0.5em 0.8em;
    align-items: center;
    border-radius: 5px;
    margin-top: 0.5em;
}

.input-box input::placeholder{
    color: var(--Dark-cyan-2);
}

.input{
    width: 100%;
}

.input-box img{
    width: 12px; 
}

.input-box:focus-within{
    outline: 3px solid var(--Strong-cyan);
}

.input-container{
    width: 100%;
}

.input-container label{
    font-size: 14px;
    
}

.input-header{
    justify-content: space-between;
}

#error-boundary{
    outline: 3px solid hsl(34, 100%, 50%);
}

#error-text-hidden{
    color: hsl(34, 100%, 50%);
    visibility: hidden;
}

#error-text-visible{
    color: hsl(34, 100%, 50%);
    visibility: visible;
}