.tip-amount-container{
    flex-flow: column nowrap;
    justify-content: flex-start;
    background-color: var(--Very-dark-cyan);
    padding: 1em;
    border-radius: 1em;
}

.tip-amount-container > *{
    margin: 1em 0;
}

.subtext{
    color: var(--Dark-cyan-2);
    display: block;
    font-size: 14px;
}

.tip-results{
    justify-content: space-between;
    align-items: center;
}

.tip-results p{
    color: white;
    
}

.output{
    font-size: 28px;
    color: var(--Strong-cyan) !important;
}

.tip-amount-container button{
    background-color: var(--Strong-cyan);
    color: var(--Very-dark-cyan);
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    padding: 0.5em;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.tip-amount-container button:hover{
    background-color: var(--selected);
}

#reset{
    background-color: hsl(183, 100%, 30%);
}

@media (min-width: 1080px) {
    .tip-amount-container{
        padding: 1.7em;
    }

    .tip-amount-container button{
        margin-top: auto;
        margin-bottom: 0;
    }
  }