input, label{
  display: block;
}


.App {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.tip-container{
  
  height: 100%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.tip-container img{
  margin: 2em 0;
  width: 30%;
}

.tip-container p, label{
  font-weight: bold;
  color: var(--Dark-cyan-1);
}


/* --- Body of the App -------- */


/* Tip Body */
.tip-body{
  height: 100%;
  background-color: var(--White);
  border-radius: 1em 1em 0em 0em;
  padding: 2em;
}

.tip-body > *{
  
  margin: 1.5em 0;
}

/* Bill entry */
.bill-entry{
  
  width: 100%;
}