/* Custom Variables */

:root{

  /* Primary */
  --Strong-cyan: hsl(172, 67%, 45%);

  /* Neutral */
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-cyan-1: hsl(186, 14%, 43%);
  --Dark-cyan-2: hsl(184, 14%, 56%);
  --Light-cyan-1: hsl(185, 41%, 84%);
  --Light-cyan-2: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);

  --selected: hsl(180, 68%, 75%);
}


/* General Reset */

*,
*::before,
*::after{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;
  background-color: var(--Light-cyan-1);
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

button{
  font-family: 'Space Mono', monospace;
}

input{
  font-size: 24px;
  font-family: 'Space Mono', monospace;
  background-color: var(--Light-cyan-2);
  color: var(--Very-dark-cyan);
  font-weight: 700;
  outline: none;
  border: none;
  text-align: right;
  
}

img{
  display: block;
  width: 100%;
}

html{
  height: 100%;
}